Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
Python
R
SQL

Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
NumPy
Pandas
Matplotlib
Scikit-Learn (sklearn)
TensorFlow 
PyTorch
Seaborn
Statsmodels

Exercise 6 - Create a markdown cell with a table of Data Science tools

Data Science Tools

Weka

Scrapy

Pandas

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

<h3 align="center">Below are a few examples of evaluating arithmetic expressions in Python.</h3>

Exercise 8 - Create a code cell to multiply and add numbers

In [1]:
t=(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

t

17

Exercise 9 - Create a code cell to convert minutes to hours

In [2]:
# This will convert 200 minutes to hours by diving by 60
min=200
hour = min/60

hour

3.3333333333333335

Exercise 10 - Insert a markdown cell to list Objectives